.content {
    display: flex;
    flex-direction: column;
    border: #c4c4c4 1px solid;
    background: #b5d0fc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    &-title {
        font-weight: 600;
        font-size: 18px;
        text-indent: 30px;
    }

    &-description {
        text-indent: 15px;
        color: #656565;
    }

    &-bottom {
        margin-left: auto;

        &-date {
        }
    }
}
