.result {
    display: flex;
    flex-direction: column;

    &-title {
        font-size: 30px;
        margin: auto auto 20px;
    }

    &-table{
        overflow-y: scroll;
        width: 100%;
    }
}
