.little-course {

    padding: 10px;
    margin: 10px 5px;
    background: #c2daff;
    border: gray 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    &-title {
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &-description {
        margin: 10px 0;
        display: -webkit-box;
        -webkit-line-clamp: 2; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;

        &-user {
            font-weight: 600;
        }
    }
}
